.contenu {
    color: #4c4c4c;
}
h1 {
    color: #393939;
}
.filter {
    margin-top: 0.7rem;
    border: #bbbbbb 1px solid;
    background-color: #f5f5f5;
    border-radius: 2rem;
    padding: 1.5rem;
}
