.contenu {
    color: #4c4c4c;
}
h1 {
    color: #393939;
}
.formCenter {
    margin-top: 0.7rem;
    border: #bbbbbb 1px solid;
    background-color: #f5f5f5;
    border-radius: 2rem;
    padding: 1.5rem;
}
.ck-editor__editable {
    min-height: 200px !important;
}
.informations {
    list-style-type: none;
}

.resetButton {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
